<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.CafeMap.domain.cafe.dao.CafeMapper">

  <insert id="insertCafe" useGeneratedKeys="true" keyProperty="id"
    parameterType="com.flab.CafeMap.domain.cafe.Cafe">
    INSERT INTO cafe(id,
                     cafe_id,
                     name,
                     latitude,
                     longitude,
                     created_at)
    VALUES (#{id},
            #{cafeId},
            #{name},
            #{latitude},
            #{longitude},
            NOW())
  </insert>

  <select id="selectCafeById" resultType="com.flab.CafeMap.domain.cafe.Cafe">
    SELECT *
    FROM cafe
    WHERE id = #{id}
  </select>

  <select id="selectCafeByLoginId" resultType="com.flab.CafeMap.domain.cafe.Cafe">
    SELECT *
    FROM cafe
    WHERE cafe_id = #{cafeId}
  </select>
</mapper>