name: CI

on:
  push:
    branches:
      - main
      - feature/*
    # pull_request:
    # branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      working-directory: ./

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        env:
          KAKAO_SECRET: ${{ secrets.KAKAO_SECRET }}
        run: ./gradlew build

      - name: Run Tests
        env:
          KAKAO_SECRET: ${{ secrets.KAKAO_SECRET }}
        run: ./gradlew test

      - name: Generate JaCoCo Badge
          id: jacoco
          uses: cicirello/jacoco-badge-generator@v2
          with:
            jacoco-csv-file: build/reports/jacoco/test/jacocoTestReport.csv
            badges-directory: .github/badges
            generate-coverage-badge: true

      - name: Log coverage percentage
        run: |
          echo "coverage = ${{ steps.jacoco.outputs.coverage }}"
          echo "branch coverage = ${{ steps.jacoco.outputs.branches }}"

      - name: Commit the badge (if it changed)
        run: |
          if [[ `git status --porcelain` ]]; then
            git config --global user.name 'github-actions'
            git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
            git add -A
            git commit -m "Autogenerated JaCoCo coverage badge" 
            git push
          fi

      - name: Upload JaCoCo coverage report
        uses: actions/upload-artifact@v2
        with:
          name: jacoco-report
          path: target/site/jacoco/


